#bottomNavigation {
  background-color: black;
  color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
}
#bottomNavigation ul {
  list-style-type: none;
  display: flex;
  
}
#bottomNavigation li {
  margin-right: 1em;
}
#speakIndicator {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: white;
  margin: 0 auto;
  color: black;
}
table {
  font-size: 2rem;
  width: 100vw;
  padding: 25px;
  box-sizing: border-box;
}
tr {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
thead {
  margin-bottom: 2rem;
}
th{
  display: flex;
  justify-content: space-between;

}
.newsView {
  display: flex;
  flex-direction: row;
  gap: 1em;
}
.newsCard {
  min-width: 400px;
  /* border: solid gray 2px; */
  margin: .1rem auto;
  padding: .3em;
}
td {
  display: flex;
  gap: .5em;
  align-items:center;
}